In [1]:
import pandas as pd
import numpy as np
import os
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
browser = Browser("firefox")

In [4]:
breeder = []
availability = []
location = []
blood = []
award = []

In [5]:
for i in range(900):
    url = f'https://marketplace.akc.org/puppies?page={i+1}'
    browser.visit(url)
    
    html = browser.html
# Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain breeder information
    
    for article in soup.find_all('a', class_='sc-kgAjT kFFrdz'):
        name = article.h4.text.strip()
        description = article.find('div', class_='breeder-litter-card__details').p.text.strip()
        loc = article.find('p', class_='breeder-card__location').text.strip()
        if(i < 87):
            badge = article.find('img').get('src')
        
            
        bloodline = article.find('div', class_='breeder-litter-card__champ').get('style')
        
        
        if bloodline == 'visibility: visible;':
            new_bloodline = "True"
        else:
            new_bloodline = "False"

        if badge == 'https://cdn.marketplace.akc.org/site-media/bom-icons/platinum.sm.png':
            new_badge = 'platinum'
        elif badge == 'https://cdn.marketplace.akc.org/site-media/bom-icons/gold.sm.png':
            new_badge = 'gold'
        elif badge == 'https://cdn.marketplace.akc.org/site-media/bom-icons/silver.sm.png':
            new_badge = 'silver'
        elif badge == 'https://cdn.marketplace.akc.org/site-media/bom-icons/bronze.sm.png':
            new_badge = 'bronze'
        else:
            new_badge = 'standard'

            breeder.append(name)
            availability.append(description)
            location.append(loc)
            award.append(new_badge)
            blood.append(new_bloodline)


    #print(name)
    
    #print(new_badge)
    #print(description)
    #print(loc)
    #print(new_bloodline)
    #print("-------------------------")

    try:
        browser.links.find_by_partial_text('»').click()
        time.sleep(1)

    except Exception:
        pass

In [6]:
df = pd.DataFrame({'breeder': breeder,
              'availability': availability,
              'address': location,
              'award': award,
              'champ_bloodline': blood
    
})

In [7]:
badge = article.find('img')
print(badge)

None

In [8]:
df.head(50)

,breeder,availability,address,award,champ_bloodline
0,Labrador Retriever Puppies,Males / Females Available6 weeks old,"Dottie TaylorMonticello, FL 32344",standard,True
1,Golden Retriever Puppies,Males / Females Available6 weeks old,"Helen DorranceLeander, TX 78641",standard,True
2,Kenjo Samoyeds,Puppies coming soon.,"John & Kelli PitinoGreentown, PA 18426",standard,False
3,SHE Bichons And Cotons,Puppies coming soon.,"Sharon HunkinsLa Mesa, CA 91941",standard,False
4,SHE Bichons And Cotons,Puppies coming soon.,"Sharon HunkinsLa Mesa, CA 91941",standard,False
5,Dream Chaser's Labradors,Puppies coming soon.,"Judy BertholdMonument, CO 80132",standard,False
6,Miniature Pinscher Puppies,Males / Females Available4 months old,"NORMA CACKASan Bernardino, CA 92407",standard,True
7,French Bulldog Puppies From Miradon,Males / Females Available5 weeks old,"Paula J Kaufman,DVMHollywood, FL 33024",standard,True
8,Ocean Blue Danes,Puppies coming soon.,"Jennifer HesterWest Palm Beach, FL 33411",standard,False
9,Cavalier King Charles Spaniel Puppies,Males Available7 weeks old,"Cindy TorgersenGloucester, VA 23061",standard,True
10,Sky Valley Rottweilers,Puppies coming soon.,"Joanne BartkoskiSnohomish, WA 98296",standard,False
11,Black Standard Poodle Puppies,Males / Females Available8 weeks old,"Chris BaileyPhelan, CA 92329",standard,True
12,Soft Coated Wheaten Terrier Male Puppies,Males Available6 weeks old,"Sherrie AmonVancouver, WA 98682",standard,True
13,Great Pyrenees Puppies,Males / Females Available9 weeks old,"Kimberly KentoppGig Harbor, WA 98332",standard,True
14,Schaefer's Miniature American…,Males / Females Available5 weeks old,"Tonya SchaeferGarysburg, NC 27831",standard,True
15,German Shepherd Dog Puppies,Males / Females Available4 weeks old,"Linda PhillipsNewton, NJ 07860",standard,False
16,Beowulf Belgian Tervuren,No puppies are available.,"Donna LockeUnion, OR 97883",standard,False
17,Karen Bordelon,Puppies coming soon.,"Karen BordelonPinellas Park, FL 33782",standard,False
18,White Whisker Kennels LLC,No puppies are available.,"Mico Nelson DVMHampden, ME 04444",standard,False
19,Parson Russell Terrier Puppies,Males / Females Available7 weeks old,"Melissa WhiteWeiser, ID 83672",standard,True
20,Travelda Tollers - William & Lisa Burland,No puppies are available.,"William BurlandQuakertown, PA 18951",standard,False
21,Travelda Tollers - William & Lisa Burland,Puppies coming soon.,"William BurlandQuakertown, PA 18951",standard,False
22,Wind Dial Corgis,Males / Females Available11 weeks old,"Candace LonganOswego, KS 67356",standard,True
23,Folly's Bullmastiffs,No puppies are available.,"Tina ThompsonGirard, OH 44420",standard,False
24,Rhodesian Ridgeback Puppies,Males / Females Available1 week old,"Katherine-Anne MaselliBrooklyn, NY 11215",standard,True
25,Shetland Sheepdog Puppies,Males / Females Available4 months old,"LuAnn BuehnemanKeswick, IA 50136",standard,True
26,Timberwyck Airedales,Puppies coming soon.,"Susan KuhnFarmington, MI 48336",standard,False
27,"PANDA, solid black, or sable pups in this…",Males / Females Available4 weeks old,"Lisa Bendall WalshBranford, FL 32008",standard,True
28,Loyalville,No puppies are available.,"Lisa Bendall WalshBranford, FL 32008",standard,False
29,Australian Cattle Dog Puppies,Males / Females Available5 weeks old,"amy petersTazewell, TN 37879",standard,True
30,LAUREL McComas,Puppies coming soon.,"LAUREL McComasWhite Post, VA 22663",standard,False
31,Cocker Spaniel Puppies,Females Available 14 weeks old,"Elena SicurelloBethlehem, PA 18015",standard,True
32,Comancheria Kennels,No puppies are available.,"Glenda NunnallyMentone, AL 35984",standard,False
33,Poodle Puppies,Males Available5 months old,"CindyHamilton, OH 45015",standard,True
34,Border Collie Puppies,Females Available 7 weeks old,"Lisa WaldoNew Market, AL 35761",standard,True
35,4XGMPR GRHRCH UH TYCHO MH X GABBY JH,Females Available 6 weeks old,"Sheryl HullMontrose, MO 64770",standard,False
36,Miniature Schnauzer Puppies,Males / Females Available6 days old,"Manuel ItriagoTerrell, TX 75160",standard,True
37,Cane Corso Puppies,Males Available11 weeks old,"Rich HudgensLas Vegas, NV 89121",standard,True
38,Chesapeake Bay Retriever Puppies,Males / Females Available4 months old,"Rebecca KowalskiMayville, MI 48744",standard,True
39,Chesapeake Bay Retriever Puppies,Males / Females Available4 months old,"Rebecca KowalskiMayville, MI 48744",standard,True
40,Bulldog Puppies,Males / Females Available10 weeks old,"randy bantaPleasanton, KS 66075",standard,True
41,diane nelson,Puppies coming soon.,"diane nelsonSpencer, NY 14883",standard,False
42,Starlette Frenchies,Puppies coming soon.,"Tina OlsenPeyton, CO 80831",standard,False
43,German Shorthaired Pointer Puppies,Males / Females Available10 weeks old,"Stephan BrownEast Helena, MT 59635",standard,False
44,"Imagine Chows, AKC perm. reg.",No puppies are available.,"Deborah SpenceMarshalltown, IA 50158",standard,False
45,Rough Coat Brussels Griffon Puppies,Males Available15 weeks old,"Jean Nelson & Betty Nelson PollockAvery, TX 75554",standard,True
46,Cocker Spaniel Puppies - Males,Males Available3 weeks old,"Stacey RossiEl Paso, TX 79925",standard,True
47,Klassic Bostons and Bulldogs,No puppies are available.,"Rebecca SmithOmaha, NE 68142",standard,False
48,Labrador Retriever Puppies,Females Available 9 weeks old,"Sandra UnderhillLakeside, CA 92040",standard,False
49,Willow Springs Dachshunds,Puppies coming soon.,"cyndi and alex branchGreenville, GA 30222",standard,False

In [9]:
df.describe()

,breeder,availability,address,award,champ_bloodline
count,16914,16914,16914,16914,16914
unique,7407,90,13183,1,2
top,Labrador Retriever Puppies,No puppies are available.,"Dave ChuppNappanee, IN 46550",standard,False
freq,967,5357,13,16914,13778

In [15]:
df.to_csv("breeders.csv")